  <% @staffs.each do |staff| %>
      <div class="card">
        <p class="title">
          <%= link_to staff.fname, staff %>
        </p>
          <p class="subtitle">
            <%= staff.title %>
          </p>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Phone: <%= staff.phone %>
            </span>
          </p>
        </footer>
      </div>
  <% end %>