      <div class="card">
        <p class="title">
          <%= link_to category.name, category %>
        </p>
          <p class="subtitle">
            Description: <%= category.description %>
          </p>
      </div>