<%= render @category %>
      <div class="card">
        <p class="title">
          <% @category.products.each do |product| %>
        <p>
        <strong>Product:</strong>
        <%= product.name %>
        </p>
      </p>
  <% end %>
</div>

<%= link_to 'Back', categories_path %>
